@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Lemon&display=swap');

body {
    background: #2f2fa2;
    font-family: 'Lemon', cursive;
    margin: 0px;
    padding: 0px;
}


#main {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.title {
    grid-column: 1/4;
    padding: 30px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 3.4rem;
    width: 700px;
    text-align: center;
    background: rgba(0,0,0,0.3);
    color: #f64c72;
    border-radius: 20px;
    animation-delay: 1s;
}

.box {
    display: flex;
    grid-column: 1/4;
    margin: 5% 20%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: 'Baloo Bhaina 2', cursive;
    background: rgba(0,0,0,0.3);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    animation-delay: 1s;
}

.tricky {
    grid-column: 2;
    justify-self: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 100;
}

input.blank {
    grid-column: 2;
    color: purple;
    outline: none;
    border-radius: 10px;
    border: solid 2px  #f64c72;
    font-size: 1.4rem;
    font-family: 'Baloo Bhaina 2', cursive;
    text-align: center;
}

input.guess:hover, input.hint:hover {
    cursor: pointer;
    background-color: rgb(207, 23, 231);
    transition: .5s ease;
}

input.guess {
    grid-column: 2;
    margin-bottom: 20px;
    margin-top: 20px;
    color: white;
    background:  #f64c72;;
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 1.5rem;
    border-radius: 20px;
    outline: none;
    border: solid 2px white;
    text-align: center;
    box-shadow: 0px 6px 8px 0px black;
    transform: scale(1);
    transition: all 0.5s ease;
}

input.guess:active {
    transform: scale(0.9);
    box-shadow: 0px 0px 0px 0px black;
}

.notifications {
    width: 90%;
    justify-self: center;
    border-radius: 20px;
    border: solid 1px white;
    padding: 5px;
    font-size: 1.3rem;
    color: white;
    display: none;
}

.noti-one {
    background: red;
    grid-column: 1;
    grid-row: 1;
}

.noti-two {
    background: red;
    grid-column: 1;
    grid-row: 2;
}

.noti-three {
    background: limegreen;
    grid-column: 1;
    grid-row: 3;
}

#score {
    grid-column: 3;
    grid-row: 1;
    text-align: right;
    padding: 10px;
    color: white;
    font-size: 2em;
}

.hint {
    grid-column: 3;
    grid-row: 3;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    outline: none;
    background: #f64c72;
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 2rem;
    line-height: 3.4;
    justify-self: center;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0px 6px 8px 0px black;
    transform: scale(1);
    transition: all .5s ease;
}

.hint:active {
    transform: scale(0.9);
    box-shadow: 0px 0px 0px 0px black;
}

.hint-img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    grid-column: 1;
    grid-row: 1/5;
    margin: 20px;
    display: none;
}

#scrambledWord {
    color:  #f64c72;
    font-size: 2rem;
    margin: 0;
}

.winner_box {
    display: flex;
    align-content: center;
    align-items: center;
    margin: 5% 20%;
    font-family: 'Baloo Bhaina 2', cursive;
    background: rgba(0,0,0,0.3);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    animation-delay: 1s;
    display: none;}

h2 {
    text-align: center;
    color: white;
    grid-row: 1;
}

.reset {
    display: block;
    padding: 0 40px;
    color: white;
    background:  #f64c72;
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 1.5rem;
    border-radius: 20px;
    border: solid 2px white;
    text-align: center;
    box-shadow: 0px 6px 8px 0px black;
    transform: scale(1);
    transition: all 0.5s ease;
    margin: auto;
}
.reset:hover {
    cursor: pointer;
    background-color: rgb(207, 23, 231);
    transition: .5s ease;
}
.reset:active {
    transform: scale(0.9);
    box-shadow: 0px 0px 0px 0px black;
}

a {
    text-decoration: none;
    color: white;
}